pkgbase = simpmusic-bin
	pkgdesc = A FOSS YouTube Music client for Android and Desktop with many features from Spotify, SponsorBlock, ReturnYouTubeDislike using Compose Multiplatform to develop.
	pkgver = 1.0.1_hf
	pkgrel = 3
	url = https://www.simpmusic.org
	arch = x86_64
	license = GPL-3.0
	depends = gstreamer
	depends = gst-plugins-good
	depends = gst-plugins-bad
	depends = yt-dlp
	conflicts = simpmusic-bin
	options = !strip
	options = !debug
	source = https://nightly.link/maxrave-dev/SimpMusic/workflows/desktop-deb-package/dev/desktop-deb-package.zip
	sha256sums = SKIP

pkgname = simpmusic-bin
